* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

#header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(images/header-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.user-box img {
    border-radius: 50%;
    width: 250px;
    border: 2px solid #777;
}

.user-box h1 {
    color: #fff;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.user-box p {
    color: #fff;
}

.nav-container {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #000;
}

.nav-container img {
    height: 70px;
}

.flex-nav {
    display: flex;
    margin-left: auto;
}

.flex-nav a {
    margin: 10px;
    color: #fff;
    text-decoration: none;
}

/*-- About --*/

.about-container {
    width: 800px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.about-left-col {
    margin: 30px;
    padding: 5%;
}

.about-right-col {
    margin: 30px;
    padding: 5%;
}

.about-right-col h3 {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
    color: #777;
}

.about-right-col p {
    margin-bottom: 30px;
    font-size: 20px;
}

.skill-bar {
    text-align: center;
}

.skill-bar p {
    margin: 10px auto;
}

.html,
.css,
.javascript {
    position: relative;
    width: 400px;
    border: 1px solid #777;
    border-radius: 20px;
    padding: 2px;
}

.html-bar,
.css-bar,
.javascript-bar {
    width: 100%;
    display: block;
    position: relative;
    background: #000000;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    height: 1em;
    line-height: 1em;
}
